body {
	width: 70%;
	margin: 0 auto;
}

h1, h2, h3 {
	font-family: sans-serif;
	margin: 1.5em 0 0.8em 0;
}

h2 {
	font-size: 32px;
}

table, th, td {
	border: 1px solid #000;
}

figcaption {
	font-style: italic;
}

figure {
	float: right;
	width: 300px;
}

.population-table {
	float: none;
	width: auto;
}

img {
	width: 100%;
}